@import "@/styles/variables.global.scss";

.taskModal {
  padding: 24px 32px;
  font-size: 16px;

  .title {
    font-size: 26px;
    text-align: center;
  }

  .rowTitle {
    display: flex;
    font-size: 18px;
    font-weight: 700;
  }

  .formRow {
    margin-top: 24px;

    label {
      font-weight: 600;
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
    margin-top: 24px;

    button {
      padding: 16px 32px;
      font-size: 16px;
      border-radius: 12px;
      color: $white;
      font-weight: 600;

      @media screen and (max-width: 500px) {
        padding: 12px;
      }
    }

    .saveButton {
      background-color: $blue;
    }

    .resetButton {
      background-color: $error;
    }
  }
}