html {
  height: 100%;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth !important;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
    transform: translateY(-1.5px);
  }
}

button {
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: translateY(-1.5px);
  }
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}