.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    max-width: calc(199% - 64px);
    max-height: 90%;
    min-width: 600px;
    overflow: auto;

    @media screen and (max-width: 700px) {
      min-width: unset;
    }
  }

  .close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;

    @media screen and (max-width: 500px) {
      right: 8px;
      top: 8px;
    }

    &:hover {
      opacity: 0.5;
    }

  }
}